<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
>
    <testsuites>
        <testsuite name="GeoJson Test Suite">
            <directory>./tests/GeoJson/</directory>
        </testsuite>
    </testsuites>

    <coverage ignoreDeprecatedCodeUnits="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/GeoJson</directory>
        </include>
    </coverage>
</phpunit>
